@model LambdaForum.Models.Post.PostIndexModel
@model LambdaForum.Models.Forum.ForumTopicModel


<h1>@Model.Title</h1>

<div>
    <h4>Author: @Model.AuthorName (@Model.AuthorRating) </h4> <h6>Created: @Model.Created</h6>
</div>

<div>
    <br />
    <h3>@Model.PostContent</h3>
</div>

@if (Model.Replies.Any())
{
    foreach (var reply in Model.Replies)
    {
        <div>
            <div>
                Reply Author: @reply.AuthorName
                Reply Created: @reply.Created
            </div>

            <div>
                Reply: @reply.ReplyContent
            </div>
        </div>
    }
}
else
{
    <br />
    <hr />
    <h4>No replies here yet.</h4>
}